{% extends 'base.html' %} {% load static %}
{% block title %}<title>Battle</title>{% endblock title%}
{% block content %}
    <p style="padding: 20px; solid rgb(53, 49, 49);">
        <h2 style="margin: 0; text-align: center;">Moviemon <br> {{mon_id}} <br>appear !<br></h2>
    </p>
    <table style="width: 687px; height: 240px;">
    <tr> <p align="right"><font size="5"><img src="{% static 'ball.jpg' %}"/> : {{ballnum}} </font></p> </tr>
    <tr>
        <td style="padding: 1px; border-bottom: {{ch_a}} solid rgb(53, 49, 49);">
            <h4 style=" border-Top: {{ch_a}} solid rgb(53, 49, 49); margin-top: 190px; text-align: center;">=A= <br> Throw Ball !</h4>
        </td>
        <td style="padding: 1px; border-bottom: {{ch_b}} solid rgb(53, 49, 49);">
            <h4 style=" border-Top: {{ch_b}} solid rgb(53, 49, 49); margin-top: 190px; text-align: center; ">=B= <br> Flee away !"</h4>
        </td>
    </tr>
</table>
{% endblock content%}
