{% extends 'base.html' %} {% load static %}
{% block title %}<title>Load</title>{% endblock title%}
{% block content %}

<table style="margin:auto; border-collapse:collapse;">
    <tr>
    <h3 style="padding: 30px; margin: 0;">Load MovieMon!</h3>
    </tr>
    <tr>
    <tr>
        <td class=load_slot style="background-color: 0;"><h2>[slot A]</h2></td>
        <td class=load_slot style="background-color: 0;"><h2>[slot B]</h2></td>
        <td class=load_slot style="background-color: 0;;"><h2>[slot C]</h2></td>
    </tr>
    <tr>
        <td class=load_name style="background-color:{{ A }};"><h2>
            {% if load_A == "x" %}
                Free !
            {% else %}
                <h3>[Save]<br><br>catch : {{load_A}}/10</h3>
            {% endif%}
        </h2></td>
        <td class=load_name style="background-color:{{ B }};"><h2>
            {% if load_B == "x" %}
                Free !
            {% else %}
                <h3>[Save]<br><br>catch : {{load_B}}/10</h3>
            {% endif%}
        </h2></td>
        <td class=load_name style="background-color:{{ C }};"><h2>
            {% if load_C == "x" %}
                Free !
            {% else %}
                <h3>[Save]<br><br>catch : {{load_C}}/10</h3>
            {% endif%}
        </h2></td>
    </tr>
</table>

{% comment %} {% if loaded == 0%}
        <h3 style="padding: 3px; margin: 0;">A_Load B_Cancel</h3>
{% else %}
    <h3 style="padding: 100px; margin: 0;">A_Start Game B_Cancel</h3>
{% endif %} {% endcomment %}

{% endblock content%}
{{ch_b}}