{% extends 'base.html' %} {% load static %}
{% block title %}<title>Moviedex</title>{% endblock title%}
{% block content %}
<style>
    img {
         position=absolute;
         top:100px;
         flaot : right;
         height: 100px;
    }
</style>
<div>
	<img src="{{movie.prev.Poster}}" style="position=absolute; top:0px; width:200px;height: 300px;"></img>
	<img src="{{movie.now.Poster}}" style="position=absolute; top:0px; width:270px;height: 400px;"></img>
	<img src="{{movie.next.Poster}}" style="position=absolute; top:200px; width:200px;height: 300px;"></img>
</div>
<div>
	<img src="{%static 'left.png' %}" style="position=absolute; float:left; top:100px;width:100px;height: 100ox;"></img>
	<img src="{%static 'left.png' %}" style="position=absolute; top:100px;width:100px;height: 100ox;"></img>
	<img src="{%static 'right.png'%}" style="position=absolute; float:right; top:100px;width:100px;height: 100ox;"></img>
</div>
{% endblock content%}
