{% extends 'base.html' %} {% load static %}
{% block title %}<title>Moviedex</title>{% endblock title%}
{% block content %}
<style>
    img {
         position=absolute;
         top:100px;
         flaot : right;
         height: 100px;
    }
</style>
<p><img src="{{detail.Poster}}" style="position=absolute;top:600px;float :left; width:330px; height: 450px;"></img></p>
    <p style="position=absolute; float:right; width:330px; height : 450px;">
        Title : {{detail.Title}}<br><br>
        {{detail.imdbRating}} / 10.0<br><br>
        Director : {{detail.Director}}<br><br>
        Actors : {{detail.Actors}}<br><br>
        Year : {{detail.Year}}<br><br>
        {{detail.Plot}}
    </p>
</p>
{% endblock content%}
