{% extends 'base.html' %} {% load static %}
{% block title %}<title>Titlescreen</title>{% endblock title%}
{% block content %}
<table style="width: 687px; height: 490px;">
    <tr>
        <td style="border-bottom: 4px solid rgb(53, 49, 49);">
            <h1 style="margin: 0; text-align: center;">"Game Start"</h1>
        </td>
        <td style="width: 50px;">
        </tr>
    </tr>
    <tr></tr>
    <tr>
        <td style="border-bottom: 4px solid rgb(53, 49, 49);">
            <h1 style="margin: 0; text-align: center;">"Kill"</h1>
        </td>
        <td>
        </tr>
    </tr>
    <tr></tr>
    <tr>
        <td style="border-bottom: 4px solid rgb(53, 49, 49);">
            <h1 style="margin: 0; text-align: center;">"Kill"</h1>
        </td>
        <td>
        </tr>
    </tr>
    <tr></tr>
    <tr>
        <td style="border-bottom: 4px solid rgb(53, 49, 49);">
            <h1 style="margin: 0; text-align: center;">"Kill"</h1>
        </td>
        <td>
        </td>
    </tr>
</table>
{% endblock content%}