	{% extends 'base.html' %}  {% load static %} {% block style%}
	<style>
	table {
		position : absolute;
		top:0px;
		left:0px;
		border: #707070 1px;
		width: 500px;
		height: 490px;
	}
	tr, td {
		border: #707070 1px  dashed;
		width: 10px;
		height: 10px;
	}
	img {
		 position=absolute;
		 top:100px;
		 flaot : right;
		 {% comment %} left:60px; {% endcomment %}
		 {% comment %} width:40px; {% endcomment %}
		 height: 40px;
	}
	</style>
	{% endblock %} {% block title %}<title>Worldmap</title>{% endblock title%} 
	{% block content %}
	<table>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	</table>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<p align="right"><font size="6"><img src="{% static 'ball.jpg' %}"/> : 20 </font></p>
	{% endblock content%}
