{% extends 'base.html' %}  {% load static %} {% block style%}
    <style>
    table {
        position : absolute;
        top:0px;
        left:0px;
        border: #707070 1px;
        width: 500px;
        height: 490px;
    }
    tr, td {
        border: #707070 1px  dashed;
        width: 10px;
        height: 10px;
    }
    img {
         position=absolute;
         top:100px;
         flaot : right;
         height: 40px;
    }
    </style>
    {% endblock %} 
    {% block title %}<title>Worldmap</title>{% endblock title%} 
    {% block content %}
    {% comment %} x/y를 알고 있을 때, 여기에 렌더링 하는 방법? {% endcomment %}

    {% comment %} for x 0..7
        for y in 0..5
            if x == currentX && y == currentY
                <td><div> {% endcomment %}
   <table>
    {% for j in ten %}
        <tr>
        {% for i in ten %}
        {% comment %} <td>
            i:{{ i }}x:{{ cur_x }}
        </td> {% endcomment %}
            {% if cur_x == i and cur_y == j %}
                <td style="width: 10px;height: 10px; background-color: black"></td>	
            {% else %}
                <td style="width: 10px;height: 10px;"></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <p align="right"><font size="6"><img src="{% static 'ball.jpg' %}"/> : 20 </font></p>
    {% endblock content%}
