{% load static %}
{% block from %}
    <table>
        {% csrf_token %}
        {{ form.as_p }}
		<tr>
			<td></td>
			<td><button type="submit" class="bottn" id ="up">up</button></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
			<button type="submit" class="bottn" id ="Start">Start</button>
			</td>
			<td>
			<button type="submit" class="bottn" id ="Select">Select</button>
			</td>
		</tr>
		<tr>
			<td><button type="submit" class="bottn" id ="left">left</button></td>
			<td></td>
			<td><button type="submit" class="bottn" id ="right">right</button></td>
			<td></td>
			<td><button type="submit" class="bottn" id ="A">A</button></td>
			<td></td>
			<td><button type="submit" class="bottn" id ="B">B</button></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit" class="bottn" id ="down">down</button></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>	
    <table>
{% endblock %}