{% load static %}

{% block style%}
		<style>
			{% comment %} table{
				position: fixed;
    			bottom: 0;
    			width:100%;
    			height:100px;
			} {% endcomment %}
		</style>
{% endblock %}
{% block from %}
        {% csrf_token %}
        {{ form.as_p }}
	<a href="/?key=up">up</a>
	<a href="/?key=left">left</a>
	<a href="/?key=right">right</a>
	<a href="/?key=down">down</a>
	<a href="/?key=A">A</a>
	<a href="/?key=B">B</a>
	<a href="/?key=Start">Start</a>
	<a href="/?key=Selcet">Select</a>

{% endblock %}